<h1>Bulk Discount </h1>

<p> Name: <%=@bulk_discount.name%>
<p> Discount: <%=(@bulk_discount.discount)%>%
<p> Threshold: <%=@bulk_discount.threshold%>

<p><%= link_to 'Edit', "/merchants/#{@merchant.id}/bulk_discounts/#{@bulk_discount.id}/edit" %>