<h2> Items: </h2>
  <% @merchant.items.each do |item| %>
  <p> <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> </p>
  <% end %>
<h2>Top 5 items </h2>
  <% @merchant.top_5_items.each do |item| %>
      <div id="item-<%=item.id %>">
        <p> <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %> </p>
        <p>Total revenue: <%=item.total_rev%>
      </div>
  <% end %>