
<h1> Name: <%= @item.name %> </h1> <%= link_to "Update", edit_merchant_item_path(@merchant, @item) %>

<h1> Description: <%= @item.description %> </h1>
<h1> Current Selling Price: <%= @item.unit_price %> </h1>
