<h1> Name: <%= @item.name %> </h1>
<p><%= link_to "Update", edit_merchant_item_path(@merchant, @item) %></p>
<p>Description: <%= @item.description %></p>
<p>Current Selling Price: <%= @item.unit_price %></p>
